<div class="toppage_wrapper">
  <div class="toppage_left">
  <i class="fas fa-comment" style="font-size:350px;  font-weight: 0;  padding: 200px;  padding-top: 250px;"></i>
  </div>
  <div class="toppage_right">
  <i class="fas fa-comment" style="color:white; padding:0px; font-size:50px; padding-top:45px; margin-left:50px;"></i>
  <div class="toppage_catchcopy">Let's start<br> NOW</div>
  <div class="toppage_start_bokutui">NOWをはじめよう</div>
  <div class="toppage_signup_button"><a href="http://localhost:3001/signup" class="btn btn-warning rounded-pill" style="text-decoration:none; padding:8px 109px; color:black;">アカウント作成</a></div>
  <div class="toppage_login_button"><a href="http://localhost:3001/login" class="btn btn-outline-warning rounded-pill" style="text-decoration:none; padding:8px 131px; color:orange; ">ログイン</a></div>
  </div>
  </div>
  